<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("adec5ce2-9fa4-4c52-917d-ddff69ff6792");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
